/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/** STYLING OF GAMING PAGE */


body {
    background-color: #55656b;
}

div.gamepage {
    font-family:'Courier New', Courier, monospace;
    color: #ecddae;
}

main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    
}

aside {
    width: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

canvas {
    cursor: crosshair;
}

svg {
    width: 10vw;
    overflow: visible;
}

/** PAUSE BUTTON */
rect.pause {
    width: 10px;
    height: 50px;
    fill: #ecddae;
    rx: 5px;
    y: 15px;		
}

rect#buttonbckg {
    fill: #5e4447;
}

body g#pausebutton:hover > rect#buttonbckg {
    fill: #665557;
}

body.end-visible g#pausebutton:hover > rect#buttonbckg {
    fill: #5e4447;
}

polygon.play {
    fill: #ecddae;
}

/** MODAL WINDOWS */

.button {
    border: none;
    background-color: #5b6e5f;
    color: #ecddae;
    font-weight: bolder;
    width: 10vw;
    height: 5vh;
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 99;
    position: relative;
}

.button:hover {
    -webkit-transform: rotate(5deg) scale(105%);
        -ms-transform: rotate(5deg) scale(105%);
            transform: rotate(5deg) scale(105%);
    background-color: #628168;
}

.modalwindow {
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 20;
    font-family:'Courier New', Courier, monospace;
    color: #ecddae;
    text-align: center;
}

.modalwindowbox {
    background-color: #628168;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1em;
    border-radius: 0.5em;
}

/** MODAL START WINDOW */
body.start-visible .gamepage {
    -webkit-filter: blur(3px) grayscale(100%);
            filter: blur(3px) grayscale(100%);
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}
body.start-visible {
    overflow: hidden;
}

body.start-visible .startwindow {
     visibility: visible;
}

/** MODAL END WINDOW */
body.end-visible .gamepage {
    -webkit-filter: blur(3px) grayscale(100%);
            filter: blur(3px) grayscale(100%);
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
}
body.end-visible {
    overflow: hidden;
}

body.end-visible .endwindow {
     visibility: visible;
}

.videobox {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.videobox video {
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-filter: opacity(30%);
            filter: opacity(30%);
}