/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/** MENU STYLING */


body {
    font-family:'Courier New', Courier, monospace;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#55656b), to(#2c3031));
    background-image: -o-linear-gradient(top right, #55656b, #2c3031);
    background-image: linear-gradient(to bottom left, #55656b, #2c3031);
    color: #ecddae;
}

.fullpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
    
}

/** MENU NAVIGATION */
.menuwrapper {
    position: normal;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@-webkit-keyframes animatedtext {
    0%, 25%, 100% {
        -webkit-transform: translateY(0px) rotateZ(0deg);
                transform: translateY(0px) rotateZ(0deg);
    }
    5% {
        -webkit-transform: translateY(0.2em) rotateZ(-40deg);
                transform: translateY(0.2em) rotateZ(-40deg);
    }
    10% {
        -webkit-transform: translateY(0.2em) rotateZ(40deg);
                transform: translateY(0.2em) rotateZ(40deg);
    }
    15% {
        -webkit-transform: translateY(0.2em) rotateZ(-40deg);
                transform: translateY(0.2em) rotateZ(-40deg);
    }
    20% {
        -webkit-transform: translateY(0.2em) rotateZ(40deg);
                transform: translateY(0.2em) rotateZ(40deg);
    }

}

@keyframes animatedtext {
    0%, 25%, 100% {
        -webkit-transform: translateY(0px) rotateZ(0deg);
                transform: translateY(0px) rotateZ(0deg);
    }
    5% {
        -webkit-transform: translateY(0.2em) rotateZ(-40deg);
                transform: translateY(0.2em) rotateZ(-40deg);
    }
    10% {
        -webkit-transform: translateY(0.2em) rotateZ(40deg);
                transform: translateY(0.2em) rotateZ(40deg);
    }
    15% {
        -webkit-transform: translateY(0.2em) rotateZ(-40deg);
                transform: translateY(0.2em) rotateZ(-40deg);
    }
    20% {
        -webkit-transform: translateY(0.2em) rotateZ(40deg);
                transform: translateY(0.2em) rotateZ(40deg);
    }

}

.menuwrapper div {
    white-space: nowrap;
}

.animatedS {
    -webkit-animation: animatedtext 3s infinite;
            animation: animatedtext 3s infinite;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.menuwrapper div h1 {
    display: inline-block;
    font-size: 5vw;
}

.menu ul {
    list-style-type: none;
    font-size: 3vw;
    text-align: center;
}

.menu ul li {
    background-color: #5e4447;
    margin-bottom: 0.5em;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 0.25em;
}

.menu ul li:hover {
    -webkit-transform: rotate(2deg) scale(105%);
        -ms-transform: rotate(2deg) scale(105%);
            transform: rotate(2deg) scale(105%);
    background-color: #665557;
}

.menu ul li:active {
    -webkit-transform: scale(95%);
        -ms-transform: scale(95%);
            transform: scale(95%);
    background-color: #443234;
}

.menu ul li a {
    text-decoration: none;
    color: #c5ab9d;
    padding-left:  3em;
    padding-right: 3em;
}

/** INNER PAGES */
.content {
    -webkit-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
    background-color: #7b9b82;
    color: #5e4447;   
    height: 100vh;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10%;   
}

@media (orientation: portrait) {
    .content{
        -webkit-box-flex: 100vw;
            -ms-flex: 100vw 100vw 100vw;
                flex: 100vw 100vw 100vw;
        margin-right: -100vw;
    }
    .menuwrapper {
        -webkit-box-flex: 1;
            -ms-flex: auto 0px 0px;
                flex: auto 0px 0px;
        max-width: 0px;
    }
}

@media (orientation: landscape) {
    .content{
        width: 50vw;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50vw;
                flex: 0 0 50vw;
        margin-right: -50vw;
    }

    
}

body.innerpage-visible .content {
    margin-right: 0px;
}

.content h2 {
    font-size: 2vw;
}

.content #backbutton {
    border: none;
    background-color: #5b6e5f;
    color: #ecddae;
    font-weight: bolder;
    width: 10vw;
    height: 5vh;
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content #backbutton:hover {
    -webkit-transform: translateX(3em) scale(105%);
        -ms-transform: translateX(3em) scale(105%);
            transform: translateX(3em) scale(105%);
    background-color: #628168;
}

/** INNER PAGE OPTIONS */

input[type=submit] {
    border: none;
    background-color: #5b6e5f;
    color: #ecddae;
    font-weight: bolder;
    width: 10vw;
    height: 5vh;
    border-radius: 0.5em;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input[type=submit]:hover {
    -webkit-transform: translateX(3em) scale(105%);
        -ms-transform: translateX(3em) scale(105%);
            transform: translateX(3em) scale(105%);
    background-color: #628168;
}

input[type=text] {
    margin: 1em;
}

input#inputName:invalid {
    border: 0.2em dashed rgb(172, 36, 81);
}
  
input#inputName:valid {
    border: 0.2em solid #443234;
}

input:focus {
    background-color: #c5ab9d;
}

fieldset.pictureFieldset {
    padding: 0px;
}

fieldset.pictureFieldset div {
    padding: 0.5em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/** INNER PAGE SCOREBOARD */

table {
    margin-right: 0px;
    margin-left: auto;
}

th, td {
    padding-right: 1em;
    padding-left: 3em;
    text-align: center;
}

th {
    background-color: #5b6e5f; 
    color: #ecddae;
}

tr:nth-child(odd) {
    background-color: #628168;
}
  




